<%- include('../partials/header') %>


<h2>
    <%= `${restaurant.restaurant_name}` %>
</h2>

<p class='rest-info'>
    <%= `${restaurant.address.street}` %> <br>
        <%= `${restaurant.address.city}, ${restaurant.address.state} ${restaurant.address.postal_code}` %><br>
            <%= `${restaurant.restaurant_phone}` %> <br>
</p>
<div class='hl'></div>

<h2 align='center'>User Orders </h2>
<a href="/orderup/<%= order._id %>/order ">Back To Menu</a>


<ul >
    <% userOrders.forEach(userOrder => { %>
        <div class='userorders'>
        <li><h2><%= `${users.find(x => x._id.toString() === userOrder.userId.toString()).name}`%></h2></li>
        <% let friend = users.find(x => x._id.toString() === userOrder.userId.toString()) %> 
        <li><h3><%= `${friend.email.replace(friend.email.slice(1,friend.email.indexOf('@')),'*'.repeat(friend.email.length-friend.email.indexOf('@')-1))}`%></h3></li>  

        
      
        <table class='cart-tables'>
            <% if (Object.keys(userOrder.order).length > 0) { %>
                <tr><th> </th><th>Description</th><th>Price</th><th>Quantity</th><th class='tdSubtotal'>Subtotal</th></tr>            
                        <% for (const d in userOrder.order) { %>
                            <tr>
                                <% if (userOrder.userId.toString() === user._id.toString()) { %>
                                    <td>
                                        <form action="/orderup/<%= order._id %>/checkout?_method=DELETE" method="POST">
                                            <button type='submit' class='remove' name='delete' value= <%=`${d}`%>   >🗑</button>
                                        </form>
                                    </td> 

                                    <% } else { %>
                                        <td></td>
                                    
                                    <% } %>
 
                            <td class='tdDescription'><%= `${d.toString().split('_').join(' ')} ` %></td>
                            <td class='tdPrice'>
                                <% let pr = [] %> 
                                <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                 <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? pr.push('$'+section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price.toFixed(2)) : ''%> 
                                <% }) %>
                                <%= pr[0] %> 
                            </td>
                            <td class='tdQuantity'><%= `${userOrder.order[d]}` %> </td>
                            <td class='tdSubtotal'>
                                <% let st = [] %> 
                                <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                    <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? st.push('$'+(userOrder.order[d]*section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price).toFixed(2)) : ''%> 
                                   <% }) %>
                                   <%= st[0] %> 

                            </td>
    
                        </tr>                              
                            <% }; %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Subtotal</td>
                                <td>
                                    <% let itemtotal = Number(0); %> 
                                    <% for (const d in userOrder.order) { %>
                                            <%itemtotal += Number(userOrder.order[d])%> 
                                           <% } %>
                                        <%= itemtotal %> 
                                </td>
                                <td class='tdSubtotal'>
                                    <% let total = Number(0); %>
                                    <% for (const d in userOrder.order) { %>
                                        <% let itemTotal = []; %>
                                        <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                            <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? itemTotal.push(Number((userOrder.order[d]*section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price).toFixed(2))) : '' %>
                                           <% }) %>
    
                                           <% total += itemTotal[0] %>  
                                        <% }; %>
                                        <%= '$'+total.toFixed(2) %> 
                                </td>
                            </tr>                    
                <% } else { %>
                    <h5>User has not placed their order yet</h5>
                    <% } %>
                
            </table>
        </div>
        <% }) %>

<div class='totalorders'>

<h2 align='center'>Total Orders </h2>
        <table>
            <% if (Object.keys(totalOrder).length > 0) { %>
                <tr><th>Description</th><th>Price</th><th>Quantity</th><th class='tdSubtotal'>Subtotal</th></tr>            
                        <% for (const d in totalOrder) { %>
                            <tr>
                            <td class='tdDescription'><%= `${d.toString().split('_').join(' ')} ` %></td>
                            <td class='tdPrice'>
                                <% let prt = [] %> 
                                <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                 <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? prt.push('$'+section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price.toFixed(2)) : ''%> 
                                <% }) %>
                                <%= prt[0] %> 
                            </td>
                            <td class='tdQuantity'><%= `${totalOrder[d]}` %> </td>
                            <td class='tdSubtotal'>
                                <% let stt = [] %> 
                                <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                    <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? stt.push('$'+(totalOrder[d]*section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price).toFixed(2)) : ''%> 
                                   <% }) %>
                                   <%= stt[0] %> 
                            </td>
    
                        </tr>                              
                            <% }; %>
                            <tr>
                                <td></td>
                                <td>Total Order</td>
                                <td>
                                    <% let itemtotal = Number(0); %> 
                                    <% for (const d in totalOrder) { %>
                                            <%itemtotal += Number(totalOrder[d])%> 
                                           <% } %>
                                        <%= itemtotal %> 
                                </td>
                                <td class='tdSubtotal'>
                                    <% let total = Number(0); %>
                                    <% for (const d in totalOrder) { %>
                                        <% let itemTotal = []; %>
                                        <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                            <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? itemTotal.push(Number((totalOrder[d]*section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price).toFixed(2))) : '' %>
                                           <% }) %>
    
                                           <% total += itemTotal[0] %>  
                                        <% }; %>
                                        <%= '$'+total.toFixed(2) %> 
                                </td>
                            </tr>                
                <% } else { %>
                    <h5>No orders to tally</h5>
                    <% } %>
                
            </table>
            <form action='/orderup/<%= order._id %>/submit' method='POST'>
                <input type="submit" value="Submit Order" class="btn">
            </form>

        </div>
        
</ul>

<%- include('../partials/footer') %>