<%- include('../partials/header') %>
<h1>Welcome To OrderUp</h1>
<div class='hl'></div>

    <form action="/orderup/new" method="POST" class='zipcodeform'>
        <label class='zipcode'>Please Enter Your Zipcode</label>
        <input type="text" name="zipcode" value='91789' class='zipcode'>
        <input type="submit" value="Start Group Order" class='btn'>
    </form>
        <% if (user) { %>
            <h2>Open Orders</h2>
            <table class='index-table'>
                <tr>
                    <th>Delete</th>
                    <th text-align='left'>Restaurant</th>
                    <th>Users On Order</th>
                    <th>Items in Your Cart</th>
                    <th>Continue Order</th>
                </tr>
                <% userOrders.forEach(order=> { %>
                    <tr class= 'openorders'>
                        <td>
                            <form action="/orderup/<%= order._id %>/index?_method=DELETE" method="POST">
                                <button type='submit' class='remove' name='delete' value= <%=`${order._id}`%>   >🗑</button>
                            </form>
                        </td>
                        <td text-align='left'>
                            <%= restaurants.find(x=> x.restaurant_id.toString() === mainOrders.find(y =>
                                y._id.toString() ===
                                order.orderId.toString()).restaurantId.toString()).restaurant_name%>
                        </td>
                        <td>
                            <table>
                                <% mainOrders.find(y=> y._id.toString() ===
                                    order.orderId.toString()).userOrders.forEach(u => { %>
                                    <%let friend=users.find(x=> x._id.toString() === allUserOrders.find(z =>
                                        (z._id.toString() === u.toString() && z.closed === false)).userId.toString())%>
                                        <tr>
                                            <td>
                                                <%=friend.name%>
                                            </td>

                                            <td>
                                                <%=friend.email.replace(friend.email.slice(1,friend.email.indexOf('@')),'*'.repeat(friend.email.length-friend.email.indexOf('@')-1))%>
                                            </td>
                                        </tr>

                                        <% }) %>
                            </table>
                        </td>
                        <% let items = 0
                            for (const x in order.order) {
                                items += Number(order.order[x])
                            } %>                       
                        <td> <%= items %> </td>
                        <td><a href="/orderup/<%= order.orderId %>/order "><img src='/images/orderup_logo2.png' id='orderlink'></a></td>
                    </tr>
                    <% }) %>
            </table>
            <% } else { %>
                <a href="/auth/google" <%- title==='Login with Google' ? 'class="active"' : '' %>> Please Login to
                    Continue</a>
                <% } %>

                    <%- include('../partials/footer') %>