<%- include('../partials/header') %>
<h3>Friends List</h3>
    <form action="/orderup/order" method="POST">
        <% friendsList.forEach(f=> { %>           
            
            <div class="form">
                <div>
                    <label>
                        <%= `${f.name}` %>
                    </label>
                    <br>
                    <label>
                        <%= `${f.email.replace(f.email.slice(1,f.email.indexOf('@')),'*'.repeat(f.email.length-f.email.indexOf('@')-1))}` %>
                    </label>
                </div> 
                <input class="checkbox" type="checkbox" name=<%=`${f._id}`%> >
            </div>
            <% })%>
<h3>Order Information</h3>
            <div class="form">
                <label>Restaurant</label>
                <select name='restaurantId'>
                    <% restaurants.forEach(r=> { %>
                        <option value=<%=`${r.restaurant_id}`%>
                            ><%=`${r.restaurant_name}`%>
                        </option>

                        <% }) %>
                </select>

                <label>Order Date</label>
                <% let x = new Date() %> 
                <input type="datetime-local" name="datetime" id="datetime" value= <%=`${x.getFullYear()}-${(x.getMonth()+1).toString().padStart(2,0)}-${x.getDate().toString().padStart(2,0)}T${x.getHours().toString().padStart(2,0)}:${x.getMinutes().toString().padStart(2,0)}`%>>

                <input type="submit" value='Start Order'>
            </div>
                
    </form>

    <%- include('../partials/footer') %>