<%- include('../partials/header') %>

    <h1>
        <%= `${restaurant.restaurant_name}` %>
    </h1>
    <p class='rest-info'>
        <%= `${restaurant.address.street}` %> <br>
            <%= `${restaurant.address.city}, ${restaurant.address.state} ${restaurant.address.postal_code}` %><br>
                <%= `${restaurant.restaurant_phone}` %> <br>
    </p>
    <div class='hl'></div>
    <div class="row">
    <form id='orderform' class="orderform" action="/orderup/<%= order._id %>/checkout" method="POST">
        <div class="column">

        <% restaurant.menus[0].menu_sections.forEach(section=> { %>

            <div class='sections'>
            <h2 class='section-names'>
                <%=`${section.section_name}`%>
            </h2>
            
            <ul>
                <% section.menu_items.forEach(item=> { %>
                    <li class='menuItem'>
                        <p>
                            <%=`${item.name}`%>
                        </p>
                        <p>
                            <%=`$${item.price.toFixed(2)}`%>
                        </p>
                        <div class='qtyAll'>
                            <input type='button'
                                onclick="this.nextElementSibling.value > 0 ?this.nextElementSibling.value = Number(this.nextElementSibling.value)-1 : null"
                                value='-' class='minus'>
                            <input type='text' name=<%=`${item.name.split(' ').join('_')}`%> value='0' class='qty'>
                            <input type='button'
                                onclick="this.previousElementSibling.value = Number(this.previousElementSibling.value)+1"
                                value='+' class='plus'>
                        </div>
                    </li>

                    <% }) %>

            </ul>
        </div>
            <% }) %>
        </div>




    </form>
<div class="cart column">


    <h2 class='cart-text'>Cart</h2>
    <table>
        <% if (Object.keys(userOrder.order).length > 0) { %>
            <tr><th>Remove</th><th>Description</th><th>Price</th><th>Quantity</th><th class='tdSubtotal'>Subtotal</th></tr>            
                    <% for (const d in userOrder.order) { %>
                        <tr>
                        <td>
                            <form action="/orderup/<%= order._id %>/order?_method=DELETE" method="POST">
                                <button type='submit' class='remove' name='delete' value= <%=`${d}`%>   >🗑</button>
                            </form>
                        </td>  
                        <td><%= `${d.toString().split('_').join(' ')} ` %></td>
                        <td>
                            <% let pr = [] %> 
                            <% restaurant.menus[0].menu_sections.forEach(section => { %>
                             <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? pr.push('$'+section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price.toFixed(2)) : ''%> 
                            <% }) %>
                            <%= pr[0]%> 
                        </td>
                        <td><%= `${userOrder.order[d]}` %> </td>
                        <td class='tdSubtotal'>
                            <% let st = []  %>
                            <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                <%section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? st.push('$'+(userOrder.order[d]*section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price).toFixed(2)) : ''%> 
                               <% }) %>
                               <%= st[0]%> 

                        </td>

                    </tr class='totals'>                              
                        <% }; %>
                        

                        <tr class='totalrow'>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>
                                <% let itemtotal = Number(0); %> 
                                <% for (const d in userOrder.order) { %>
                                        <%itemtotal += Number(userOrder.order[d])%> 
                                       <% } %>
                                    <%= itemtotal %> 
                            </td>
                            <td class='tdSubtotal'>
                                <% let total = Number(0); %> 
                                <% for (const d in userOrder.order) { %>
                                    <% restaurant.menus[0].menu_sections.forEach(section => { %>
                                        <% section.menu_items.find(x => x.name === d.toString().split('_').join(' ')) ? total += Number((userOrder.order[d]*section.menu_items.find(x => x.name === d.toString().split('_').join(' ')).price).toFixed(2)) : '' %> 
                                       <% }) %>
                                    <% }; %>
                                    <%= '$'+total.toFixed(2) %> 

                            </td>

                        </tr>                
            <% } else { %>
                <h5>No Items in Cart</h5>
                <% } %>
            
        </table>
        <input form='orderform' type="submit" name="update" value='Update' class='btn update'>
        <input form='orderform' type="submit" name="submit" value='Submit Order' class='btn order'>




</div>

</div>




    <%- include('../partials/footer') %>